<!doctype html>
<html lang="{{ g.get('babel_locale', 'en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>

<body class="celeste">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand fw-bold text-primary" href="#main">Krystian Puch</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 fw-semibold" href="#resume">{{ _('Resume') }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 fw-semibold" href="#projects">{{ _('Projects') }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark px-3 fw-semibold" href="#contact">{{ _('Contact') }}</a>
                    </li>

                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link" href="{{ url_for('main.set_language', lang_code='en') }}">
                            <img src="https://flagcdn.com/gb.svg" alt="English" width="24" height="18" class="rounded">
                            English
                        </a>
                        <a class="nav-link" href="{{ url_for('main.set_language', lang_code='pl') }}">
                            <img src="https://flagcdn.com/pl.svg" alt="Polski" width="24" height="18" class="rounded">
                            Polski
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="main" class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100 align-items-center">
            <div class="col-md-6 text-center px-0">
                <img src="{{ url_for('static', filename='assets/img/avatar.png') }}"
                     alt="Profile placeholder"
                     class="img-fluid rounded-circle w-75 shadow-lg">
            </div>
            <div class="col-md-6 text-md-start text-center px-0">
                <h1 class="display-3 text-primary">{{ _('Hello!') }}</h1>
                <p  class="lead" style="text-align: justify;">
                    {{ _("I'm IT student (4rd year) with specialization in Web Engineering. Actively working in Python, and
                    back-end development. I'm also exploring data science and enjoy working with datasets and
                    statistical analysis.") }}
                </p>
                <div class="mt-3 d-flex justify-content-center justify-content-md-start gap-2">
                    <a href="{{ url_for('main.set_language', lang_code='en') }}">
                        <img src="https://flagcdn.com/gb.svg" alt="English" width="32" height="24" class="rounded shadow-sm">
                    </a>
                    <a href="{{ url_for('main.set_language', lang_code='pl') }}">
                        <img src="https://flagcdn.com/pl.svg" alt="Polski" width="32" height="24" class="rounded shadow-sm">
                    </a>
                </div>
                <div class="mt-4">
                    <a href="#resume" class="btn cherry-blossom-pink m-1 btn-lg">{{ _('Resume') }}</a>
                    <a href="#projects" class="btn cherry-blossom-pink m-1 btn-lg">{{ _('Projects') }}</a>
                    <a href="#contact" class="btn cherry-blossom-pink m-1 btn-lg">{{ _('Contact') }}</a>
                </div>
            </div>
        </div>
    </section>


    <section id="resume" class="container py-5 animate-section" data-aos="fade-up" style="min-height: 100vh;">

        <!-- Technologies Section -->
        <div class="row mt-5">
            <div class="col text-center fade-up">
                <h1 class="display-3 text-primary">{{ _('Technologies') }}</h1>
                <p>{{ _('Technologies I know:') }}</p>
            </div>
        </div>
        <div class="row justify-content-center fade-up">
            <div class="col-md-7">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                    <li class="m-3 tech-icon"><i class="fab fa-html5 fa-3x"></i><br>HTML5</li>
                    <li class="m-3 tech-icon"><i class="fab fa-css3-alt fa-3x"></i><br>CSS3</li>
                    <li class="m-3 tech-icon"><i class="fab fa-js fa-3x"></i><br>JavaScript</li>
                    <li class="m-3 tech-icon"><i class="fab fa-python fa-3x"></i><br>Python</li>
                    <li class="m-3 tech-icon"><i class="fab fa-github fa-3x"></i><br>GitHub</li>
                    <li class="m-3 tech-icon"><i class="fab fa-bootstrap fa-3x"></i><br>Bootstrap</li>
                    <li class="m-3 tech-icon"><i class="fab fa-node fa-3x"></i><br>Node.js</li>
                    <li class="m-3 tech-icon"><i class="fab fa-git fa-3x"></i><br>Git</li>
                    <li class="m-3 tech-icon"><i class="fab fa-docker fa-3x"></i><br>Docker</li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-mongodb-plain fa-3x"></i><br>MongoDB
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-django-plain fa-3x"></i><br>Django
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-flask-original-wordmark fa-3x"></i><br>Flask
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-pycharm-plain fa-3x"></i><br>PyCharm
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-visualstudio-plain fa-3x"></i><br>Visual Studio
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-sqlalchemy-plain fa-3x"></i><br>SQLAlchemy
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-postgresql-plain fa-3x"></i><br>PostgreSQL
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-numpy-plain fa-3x"></i><br>Numpy
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <i class="devicon-pandas-plain fa-3x"></i><br>Pandas
                    </li>
                    <li class="m-3 tech-icon text-center">
                        <svg viewBox="0 0 128 128" width="48" height="48" class="matplotlib-icon">
                            <path d="M64 126c-16.56 0-32.13-6.449-43.84-18.159S2 80.561 2 64s6.449-32.13 18.159-43.841S47.439 2 64 2s32.131 6.449 43.841 18.159S126 47.439 126 64s-6.449 32.131-18.159 43.841S80.561 126 64 126zM64 3.82c-16.074 0-31.187 6.26-42.553 17.626C10.08 32.813 3.82 47.925 3.82 64s6.26 31.188 17.626 42.554S47.925 124.18 64 124.18s31.188-6.26 42.554-17.626S124.18 80.075 124.18 64s-6.26-31.187-17.626-42.554C95.187 10.08 80.075 3.82 64 3.82z"></path>
                            <path d="M64 112.35c-26.66 0-48.35-21.689-48.35-48.35S37.34 15.65 64 15.65 112.35 37.34 112.35 64 90.66 112.35 64 112.35zm0-96c-26.274 0-47.65 21.375-47.65 47.65S37.726 111.65 64 111.65 111.65 90.274 111.65 64 90.274 16.35 64 16.35z"></path>
                            <path d="M64 98.35c-18.94 0-34.35-15.41-34.35-34.35S45.06 29.65 64 29.65 98.35 45.06 98.35 64 82.94 98.35 64 98.35zm0-68c-18.555 0-33.65 15.095-33.65 33.65S45.445 97.65 64 97.65 97.65 82.555 97.65 64 82.555 30.35 64 30.35z"></path>
                            <path d="M64 84.35c-11.221 0-20.35-9.129-20.35-20.35S52.779 43.65 64 43.65 84.35 52.779 84.35 64 75.221 84.35 64 84.35zm0-40c-10.835 0-19.65 8.815-19.65 19.65S53.165 83.65 64 83.65 83.65 74.835 83.65 64 74.835 44.35 64 44.35z"></path>
                            <path d="M64 71.35c-4.053 0-7.35-3.297-7.35-7.35s3.297-7.35 7.35-7.35 7.35 3.297 7.35 7.35-3.297 7.35-7.35 7.35zm0-14c-3.667 0-6.65 2.983-6.65 6.65s2.983 6.65 6.65 6.65 6.65-2.983 6.65-6.65-2.983-6.65-6.65-6.65z"></path>
                            <path d="M107.061 96.836 65.178 64.197l12.373.001a.413.413 0 0 0 .413-.413 13.918 13.918 0 0 0-.684-4.323v-.001a.414.414 0 0 0-.521-.264l-11.604 3.769L89.693 32.2a.414.414 0 0 0-.066-.581 40.996 40.996 0 0 0-11.196-6.351h-.001a.412.412 0 0 0-.531.242L64.072 62.349 52.296 10.752a.414.414 0 0 0-.495-.312 54.784 54.784 0 0 0-22.892 11.342l-.002.002a.412.412 0 0 0-.05.58L62.43 62.578 21.347 42.794h-.001a.413.413 0 0 0-.551.193c-4.378 9.046-5.79 19.471-3.977 29.355a.415.415 0 0 0 .481.332l43.748-7.94-21.715 10.457h-.001a.414.414 0 0 0-.192.552 27.656 27.656 0 0 0 2.177 3.738.42.42 0 0 0 .577.105L63.334 64.73l-7.315 32.049a.416.416 0 0 0 .311.496c2.495.57 5.08.857 7.66.857 1.923.001 3.842-.16 5.738-.481a.414.414 0 0 0 .339-.477l-5.417-31.88 32.857 41.202a.414.414 0 0 0 .58.067 54.696 54.696 0 0 0 9.045-9.146.413.413 0 0 0-.071-.581z"></path>
                            <path  d="M64.35 125.35h-.7V64.845l-42.784 42.783-.495-.495.248-.247L63.155 64.35H2.65v-.7h60.505L20.372 20.866l.495-.495L63.65 63.155V2.65h.7v60.505l42.784-42.783.495.495-.248.248L64.845 63.65h60.505v.7H64.845l42.783 42.784-.495.495-.247-.248L64.35 64.845v60.505z"></path>
                        </svg>
                        <div>Matplotlib</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col text-center fade-up">
                <h1 class="display-3 text-primary">{{ _('Resume') }}</h1>
            </div>
        </div>

        <div class="row">
            <!-- Experience Section -->
            <div class="col-md-3 mb-4 mb-md-0 fade-left">
                <h3>{{ _('Experience') }}</h3>
            </div>

            <div class="col-md-9">
                <!-- SEBIT24 -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center">
                        <strong>2021 – {{ _('Present') }}</strong>
                    </div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('SEBIT24') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('
                            Responsible for implementing updates and optimizing an existing website, with a focus
                            on maintaining consistency with current design and standards. <br><br>
                            Performed comprehensive diagnostics and independent repairs of computer hardware. Responsible
                            for servicing and maintaining equipment, including troubleshooting and implementing technical
                            solutions to ensure continuous device operation. <br><br>
                            Handled operational support for e-commerce orders, including quality control, order fulfillment,
                            and verification of product accuracy prior to shipment.
                            ') }}</p>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <!-- Education Section -->
            <div class="col-md-3 mb-4 mb-md-0 fade-left">
                <h3>{{ _('Education') }}</h3>
            </div>

            <div class="col-md-9">
                <!-- Wroclaw Business University -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center">
                        <strong>2022 – {{ _('Present') }}</strong>
                    </div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Wroclaw Business University of Applied Sciences') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _("Bachelor of Engineering degree in Computer Science, specializing in Web Engineering. Gained practical
                            knowledge in programming, database design and integration, computer networks, and IT project
                            management. Covered full-stack web development — from front-end technologies and frameworks
                            to back-end solutions and database connectivity. Additional focus on web application documentation,
                            understanding copyright and licensing, and development best practices.") }}</p>
                    </div>
                </div>

                <!-- Technical Secondary School -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center">
                        <strong>2017 – 2021</strong>
                    </div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Technical Secondary School No. 1 (Kemal Mustafa Atatürk)') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Specialized in Computer Science with an extended curriculum in Mathematics and Physics. Gained
                            foundational knowledge in databases, computer networks, and server management on both Linux
                            and Windows systems. Learned the basics of programming and web development, including building
                            and maintaining websites. Developed problem-solving skills and a passion for technology.') }}</p>
                    </div>
                </div>

                <!-- Additional Programming Courses -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center">
                        <strong>2014 – 2017</strong>
                    </div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Additional Programming Courses (junior high school)') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Attended extracurricular programming classes during junior high school. Gained early experience
                            with basic programming, and front-end development.') }}</p>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <!-- Courses Section -->
            <div class="col-md-3 mb-4 mb-md-0 fade-left">
                <h3>{{ _('Courses (Udemy)') }}</h3>
            </div>

            <div class="col-md-9">
                <!-- Master Python Course -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Master Python by Building 100 Projects in 100 Days. Learn Data Science, Automation,
                            Build Websites, Games, and Apps!') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _("In this comprehensive course, you'll learn Python by working on 100 diverse projects over
                            100 days. Covering essential topics such as data science, automation, web development, game
                            creation, and app building, this course is designed to help you gain hands-on experience and
                            become proficient in Python. You'll tackle real-world problems, enhance your coding skills,
                            and create a portfolio of projects that showcase your abilities to potential employers or clients.") }}</p>
                    </div>
                </div>

                <!-- Full-Stack Web Development Course -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Become a Full-Stack Web Developer with Just ONE Course: HTML, CSS, JavaScript, Node, React,
                            PostgreSQL, Web3, and DApps') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _("This all-in-one course is your gateway to becoming a full-stack web developer. Covering a
                            wide array of essential technologies such as HTML, CSS, JavaScript, Node.js, React, and PostgreSQL,
                            you'll gain both front-end and back-end development skills. Learn how to build dynamic, interactive
                            websites and apps, while also diving into modern concepts like Web3 and decentralized applications
                            (DApps). Perfect for those looking to master full-stack development and build real-world projects from scratch.") }}</p>
                    </div>
                </div>

                <!-- Build Your First Website Course -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Build Your First Website from Scratch and Learn the Key Principles of UX') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Basic UX concepts and principles. Drawing inspiration and the first stages of the project.
                            Designing the layout in Photoshop. Coding the HTML structure. Further project stages and working
                            with CSS. Automating the workflow and finalizing the project elements.') }}</p>
                    </div>
                </div>

                <!-- Photoshop for Web Design Beginners -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Learning the Basics of Photoshop CC for Web Design Beginners') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Understanding the User Interface; Working with Tools and Layers; Creating Shapes; Organizing
                            Layers & Groups; Moving and Resizing Elements; Zooming and Panning Techniques; Using Blend Modes
                            and Adding Effects; Inserting and Styling Text; Designing with Photoshop.') }}</p>
                    </div>
                </div>

                <!-- Graphic Formats Course -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Get to Know Formats, Resolutions, DPI, and More') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Screen Basics; Scaling on Devices; Graphic File Formats; Platform Specifics.') }}</p>
                    </div>
                </div>

                <!-- Adobe XD Course -->
                <div class="row mb-4 fade-up">
                    <div class="col-md-3 text-md-end text-center"></div>
                    <div class="col-md-9 text-md-start text-center">
                        <h5>{{ _('Everything You Need to Know About Adobe XD to Start Designing & Prototyping Awesome Apps') }}</h5>
                        <p class="lead" style="text-align: justify;">
                            {{ _('Basic Tools; Advanced Tools; Designing Assets; Prototyping.') }}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="container py-5" id="projects" data-aos="fade-up">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-3 text-primary">{{ _('Projects') }}</h1>
                <p class="lead">{{ _('Explore some of the exciting projects I have worked on!') }}</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-md-start">
                <a href="{{ url_for('main.myfilmsay') }}" class="text-decoration-none link-hover">
                    <h3>My Film Say</h3>
                </a>
                <p class="lead" style="text-align: justify;">
                    {{ _('My Film Say is a learning-focused web application that allows users to explore community opinions
                    on specific movies. The platform fetches movie details such as title, rating, description, and poster
                    via the IMDb API. Users can post their own reviews, rate movies independently, and engage in conversations
                    through comment threads.') }}</p>
                <div>
                    <a href="https://github.com/Krystian137/MyFilmSayDjango" target="_blank" class="btn btn-outline-dark btn-sm me-2">
                        <i class="fab fa-github"></i> {{ _('View on GitHub') }}
                    </a><br>
                    <a href="{{ url_for('main.myfilmsay') }}" class="text-decoration-none link-hover">
                        {{ _('See More') }}
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <a href="{{ url_for('main.myfilmsay') }}">
                <img src="{{ url_for('static', filename='assets/img/movieReviewers/MovieReviewersRepresentative.png') }}"
                     alt="My Film Say Project"
                     class="img-fluid rounded shadow-lg img-zoom">
                </a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-md-start">
                <a href="{{ url_for('main.steam_chests') }}" class="text-decoration-none link-hover">
                    <h3>{{ _('Steam Chest Prices') }}</h3>
                </a>
                <p class="lead" style="text-align: justify;">
                    {{ _('Steam Chest Prices is a web application focused on data analysis of CS2 (Counter-Strike 2) weapon
                    case prices from the Steam Market. It offers historical price charts, percentage change calculations over
                    time, and dynamic value tracking. Users can create accounts to monitor their own collection and gain insights
                    into market trends through visualizations and automated value summaries.') }}
                </p>
                <a href="https://github.com/Krystian137/SteamChestPrices" target="_blank" class="btn btn-outline-dark btn-sm me-2">
                    <i class="fab fa-github"></i> {{ _('View on GitHub') }}
                </a><br>
                <a href="{{ url_for('main.steam_chests') }}" class="text-decoration-none link-hover">
                    {{ _('See More') }}
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="{{ url_for('main.steam_chests') }}">
                <img src="{{ url_for('static', filename='assets/img/SteamChestsPrices/SteamChestsRepresentative.png') }}"
                     alt="Movie Reviewers Project"
                     class="img-fluid rounded shadow-lg img-zoom">
                </a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-md-start">
                <a href="{{ url_for('main.other_projects') }}" class="text-decoration-none link-hover">
                    <h3>{{ _('Technical Practice Projects') }}</h3>
                </a>
                <p class="lead" style="text-align: justify;">
                    {{ _('A selection of smaller projects developed to enhance my
                    proficiency in Python and gain experience with a variety of technologies. Each project
                    served as a learning opportunity, allowing me to explore new tools, frameworks, and programming
                    paradigms in a practical context.') }}
                </p>
                <a href="{{ url_for('main.other_projects') }}" class="text-decoration-none link-hover">
                    {{ _('See More') }}
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="{{ url_for('main.other_projects') }}">
                <img src="{{ url_for('static', filename='assets/img/checklist.png') }}"
                     alt="Movie Reviewers Project"
                     class="img-fluid rounded shadow-lg img-zoom">
                </a>
            </div>
        </div>
    </section>

    <footer class="py-5 mt-5 bg-white">
        <div class="container px-4 px-lg-5">
            <div class="row text-center text-md-start">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h5 class="mb-3">{{ _('Contact') }}</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fas fa-envelope me-2 text-primary"></i>
                            <a href="mailto:twojemail@example.com" class="text-dark text-decoration-none">
                                krystian.puch01@gmail.com
                            </a>
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-phone me-2 text-primary"></i>
                            <a href="tel:+48123456789" class="text-dark text-decoration-none">
                                +48 570 167 601
                            </a>
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-map-marker-alt me-2 text-primary"></i>
                            Wrocław, Polska
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 d-flex flex-column align-items-center align-items-md-end">
                    <h5 class="mb-3">{{ _('Socials') }}</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item mx-2">
                            <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank" class="text-dark text-decoration-none">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item mx-2">
                            <a href="https://github.com" target="_blank" class="text-dark text-decoration-none">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x text-dark"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="row">
                <div class="col text-center small text-muted fst-italic">
                    &copy; 2025 Krystian Puch. {{ _('All rights reserved.') }}
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
</body>
</html>